-
  name: Playbook for hosting a static website on nginx
  hosts: prod
  become: yes
  tasks:
  - name: Install nginx
    apt:
      name: nginx
      state: latest

  - name: Start nginx
    service:
      name: nginx
      state: started
      enabled: yes

  - name: Serve web page on nginx
    copy:
      src: index.html
      dest: /var/www/html