---
# tasks file for package
- name: Install Nginx
  ansible.builtin.package:
    name: nginx
    state: latest

- name: Start Nginx Service
  ansible.builtin.service:
    name: nginx
    state: started
